<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div style="text-align: center">
    <img style=" width: 200px;" src="http://serwer194411.lh.pl/common/images/logo-wielka-racza.png">
</div>

<div style="width: 100%; margin-top: 15px">
    <p><span style="color: red; font-weight: bold;">*</span> Please do not respond for this message. If you want to contact write to: <b>wielka.racza@op.pl</b></p>
    <div style="width: 98%; padding: 1px 5px 20px 5px; border-radius: 5px; text-align: left; color: #000; background-color: #ffdddd; border-color: #ececec;">
        <span style="font-size: 20px; font-weight: 600">MS. / Mr. ${fullName}</span><br><br>
        <span>We could not create reservation due to payment link generation issue. <br>
           Please report the issue to the administrator. Please try to make reservation again later.</span>
    </div>
</div>

</body>
</html>
