<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<div style="text-align: center">
    <img style=" width: 200px;" src="http://serwer194411.lh.pl/common/images/logo-wielka-racza.png">
</div>

<div style="width: 100%; margin-top: 15px">
    <p><span style="color: red; font-weight: bold;">*</span> Prosím, neodpovedajte na uvedenú správu. Emailový kontakt je: <b>wielka.racza@op.pl</b></p>
    <div style="width: 98%; padding: 1px 5px 20px 5px; border-radius: 5px; text-align: left; color: #000; background-color: #ffdddd; border-color: #ececec;">
        <span style="font-size: 20px; font-weight: 600">Vážená Pani/vážený Pán ${fullName}</span><br><br>
        <span>Váš pokus o rezerváciu zlyhal, pretože sa nám nepodarilo vygenerovať odkaz na platbu, <br>
            Nahláste problém správcovi.. Prosím, znova si rezervujte.</span>
    </div>
</div>

</body>
</html>
